footer {
  font-weight: 200;
  font-size: 10px;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-SkyBlue);
  margin-top: -4em;
 

}

footer > p {
  margin: 0.2em;
  margin-bottom: 4em;
  padding: 0.2em;
}

