
.btn-block {
    display: flex;
    width: 25%;
    background-color: var(--main-SkyBlue);
}

.form-control{
    background-color: var(--main-grayDark);
}
#add-experiencia {
    display:inline-block;
    text-align: center;
    background-color: var(--main-grayDark);
    margin-left: auto;
    margin-right: auto;
  }