
.btn-block {
    display: flex;
    width: 30%;
    background-color: var(--main-SkyBlue);
}

.form-control{
    background-color: var(--main-grayDark);
}
#add-acercaDe {
    
    text-align: center;
    background-color: var(--main-grayDark);
    margin-top: 0.2em;
    margin-left: 6em;
    margin-right: auto;
  }