#education {
  text-align: center;

  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  margin-top: 2em;
  
  margin-right: 2em;
  width: 100%;
  height: 110vh;
}

h2 {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  margin-top: 0.5em;
  padding-top:1.5em;
  margin-bottom: 0.5em;
  border-bottom: 0.2rem solid var(--main-white);
}
#educación{margin-bottom: -2em;}

i {
  color: var(--main-white);
}