<div id="education">
  <!-- Modal -->
  <div class="modal fade" id="educationForm" tabindex="-1" aria-labelledby="educationFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="educationFormLabel">Educacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="educationForm" (ngSubmit)="onSubmit()">
            <input type="hidden" name="id" formControlName="id">

            <div class="row mb-3">
              <label for="school" class="col-sm-2 col-form-label">School</label>
              <div class="col-sm-10">
                <input type="text" name="school" formControlName="school" class="form-control" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="text" name="title" formControlName="title" class="form-control" required>
              </div>
            </div>

            <div class="row mb-3">
              <label for="score" class="col-sm-2 col-form-label">Score</label>
              <div class="col-sm-10">
                <input type="number" name="score" formControlName="score" class="form-control" required>
              </div>
            </div>
            <div class="row mb-3">
              <label for="start" class="col-sm-2 col-form-label">Start</label>
              <div class="col-sm-10">
                <input type="text" name="start" formControlName="start" class="form-control" required>
              </div>
            </div>
            <div class="row mb-3">
              <label for="end" class="col-sm-2 col-form-label">End</label>
              <div class="col-sm-10">
                <input type="text" name="end" formControlName="end" class="form-control" required>
              </div>
            </div>

            <div class="text-center">
              <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <div class="card-titles">
    <h2>Educación</h2>
    <div *ngIf="isUserLogged" class="btn-edit">
      <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#educationForm" (click)="onNewEducation()"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div>
    <ul class="items-list" id="eduList">
      <li *ngFor="let educacion of educacionList; let i = index">
        <div class="data-container">
          <a href="#">
    
            <div class="list-info">
              <div>
                <h3 id="edu-school">{{ educacion.school }} </h3>
                <p><span id="edu-title">{{ educacion.title }}</span>, <span id="edu-career">{{ educacion.career
                    }}</span>
                  
                </p>
                <p><time id="edu-start">{{ educacion.start }}</time> - <time id="edu-end">{{ educacion.end }}</time></p>
              </div>
            </div>
          </a>
        </div>
        <div *ngIf="isUserLogged" class="data-control">
          <div class="btn-edit">
            <button class="btn btn-right" data-bs-toggle="modal" data-bs-target="#educationForm" (click)="onEditEducation(i)"><i class="fa fa-pen"></i></button>
          </div>
          <div class="btn-edit">
            <button class="btn btn-right" (click)="onDeleteEducation(i)"><i class="fa fa-trash"></i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

