<section id="educación" class="educación-section">
  <br>
  <br>
  <h2 class="educación-section-header">{{titulo}}</h2>
      <app-educacion-item
      *ngFor="let educacion of educacion"
      [educacion]="educacion"
      (onDeleteEducacion)="deleteEducacion(educacion)"
      ></app-educacion-item>
      <app-button  
      color="{{showAddEducacion ? 'var(--main-red' : 'var(--main-SkyBlue)'}}" 
      text="{{showAddEducacion ? 'Cerrar' : 'Añadir Educación'}}"
text="Añadir Educación"
(btnClick)="toggleAddEducacion()"
></app-button>
<app-add-educacion
(onAddEducacion) = "addEducacion($event)"
></app-add-educacion>
</section>

