
<nav id="navbar" class="nav">
  
    <ul id="nav-list" class="nav-list">
      <li class="logo"><a class="navbar-brand" href="#"><img class="logoAP" src="assets/img/APLogo.png" alt="argpprod" ></a>
      <li>
        <a routerLink="./acerca_de">Acerca de...</a>
      </li>
      <li>
        <a routerLink="./experiencia">Experiencia</a>
      </li>
      <li>
        <a routerLink="./educación">Educación</a>
      </li>
      <li>
        <a routerLink="./skills">Skills</a>
      </li>
      <li>
        <a routerLink="./proyectos">Proyectos</a>
      </li>
      <li><button *ngIf="!isUserLogged" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</button>
        <button *ngIf="isUserLogged" class="btn btn-outline-success my-2 my-sm-0" routerLink="/logout" (click)="logout()">Logout</button></li>
    </ul>
    
    <ul>
    <li class="foto"><img class="fotoPerfil" src="assets/img/fotoPerfil.jpg" alt="foto de perfil" ></li>
  </ul>
  
    <ul class="nav-Redes">
     
      <li><a
      href="https://www.facebook.com/eze132"
      target="_blank"
      class="nav-Redes"
      ><i class="fab fa-facebook-square"></i></a >
      </li>
      <li>
        <a
      id="profile-link"
      href="https://github.com/EzequielBarraza"
      target="_blank"
      class="nav-Redes"
      ><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a
        href="https://twitter.com/@Ezequie91072685"
        target="_blank"
        class="nav-Redes"
        ><i class="fab fa-twitter"></i></a
      >
      </li>
      <li>
        <a href="mailto:ezequielBarraza@live.com" class="nav-Redes"
        ><i class="fas fa-at"></i></a
      >
      </li>
    </ul>
  </nav>
 
  
  