<section id="proyectos" class="proyectos-section">
<br><br>
  <h2 class="proyectos-section-header">{{title}}</h2>
    <div>

        <div>
            <ul>
              
       <li class="proyectos"><a
                href="https://github.com/EzequielBarraza/PortfolioWeb.git"
                target="_blank"
                class="nav-Redes"
                ><i class="fab fa-github">{{proyectoPortfolioWeb}}</i></a >
                <span class="btn-edit"><a href="/proyectos" class="btn-right"><i class="fa fa-pen"
                  onclick="showNewAchModal()"></i></a></span>
            
                </li>
                <li class="proyectos"><a
                    href="https://github.com/EzequielBarraza/Task-List.git"
                    target="_blank"
                    class="nav-Redes"
                    ><i class="fab fa-github" >{{proyectoTaskList}}</i></a >
                    <span class="btn-edit"><a href="/proyectos" class="btn-right"><i class="fa fa-pen"
                      onclick="showNewAchModal()"></i></a></span>
               
                    </li>
                  
            </ul>
        </div>
</div>

