<section id="add-educacion"><form class="add-form" 
(ngSubmit)="onSubmit()"
*ngIf="showAddEducacion"
>
    <div class="form-control" >
<label for="text">{{Title}}</label>
<input type="text"
 name="titulo" id="titulo" 
 placeholder="Agregar Titulo"
 [(ngModel)]="title"
 />
</div>
<div class="form-control" >
    <label for="text">{{School}}</label>
    <input type="text"
     name="instituto" id="instituto" 
     placeholder="Agregar Instituto"
     [(ngModel)]="school"
     />
    </div>
    <div class="form-control" >
        <label for="text">{{Start}}</label>
        <input type="text"
         name="start" id="start" 
         placeholder="Inicio de Carrera"
         [(ngModel)]="start"
         />
        </div>
        <div class="form-control" >
            <label for="text">{{End}}</label>
            <input type="text"
             name="end" id="end" 
             placeholder="Finalización de Carrera"
             [(ngModel)]="start"
             />
            </div>
<input id="Guardar" type="submit" value="Guardar" class="btn btn-block"/>
</form></section>
