<section id="experiencia" class="experiencia-section">
  <h2 class="experiencia-section-header">{{title}}</h2>
    <div>
 <app-experiencia-item
 *ngFor="let experiencia of experiencia"
      [experiencia]="experiencia"
      (onDeleteExperiencia)="deleteExperiencia(experiencia)"
 ></app-experiencia-item>
 <app-button color="{{showAddExperiencia ? 'var(--main-red' : 'var(--main-SkyBlue)'}}" 
 text="{{showAddExperiencia ? 'Cerrar' : 'Añadir Experiencia'}}" text="Añadir Experiencia" 
    text="Añadir Experiencia Laboral"
    (btnClick)="toggleAddExperiencia()"
    ></app-button>
    <app-add-experiencia
(onAddExperiencia) = "addExperiencia($event)"
></app-add-experiencia>
    </div>
    

 