
<section id="skills" class="skills-section">
  
  <h2 class="skills-section-header">{{title}}</h2>

  <app-skills-item *ngFor="let skill of skill"
  [skill]="skill"
  (onDeleteSkill)="deleteSkill(skill)"></app-skills-item>
  
    <app-button  color="{{showAddSkill ? 'var(--main-red' : 'var(--main-SkyBlue)'}}" 
    text="{{showAddSkill ? 'Cerrar' : 'Añadir Skill'}}" text="Añadir Skill"
    (btnClick)="toggleAddSkill()"
    ></app-button>
    <app-add-skill
(onAddSkill) = "addSkill($event)"
></app-add-skill>
      </section>
    