
<section id="Skills" class="Skills-section">
  
  <h2 class="Skills-section-header">{{title}}</h2>
  <div class="Skills-grid">
<ul>
<li>{{skillA}}
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 99%;" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</li>
<li>{{skillB}}
  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</li>
<li>{{skillC}}
<div class="progress">
<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</li>
</ul>
<app-button color="var(--main-SkyBlue)" text="Añadir Skill"></app-button>
  </div>