.Skills-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-grayDark);
  width: 100%;
  height: 90vh;
  margin-top: 6em;
  margin-bottom:-6em;
}

.Skills-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.Skills-grid {
  display: grid;
  width: 70%;
  max-width: 1280px;
  text-align: center;
  padding: 2em 2em;
  margin: 0 auto;
}



