
.login {
  background-color: var(--main-grayDark)
}
.error{
    color:red
  }
  
  .border-danger{
    border-color: red;
  }

  #loginForm{
    display: block;
    width: 100%;
    font-size: 3rem;
    font-weight: 100;
    font-style: italic;
    margin-top:2em;
    padding: 4em 0em 2em 2em;
    background: var(--main-grayDark);
    height: 110vh;
  }

#btn-login{
  color: var(--main-white);
  background-color: var(--main-SkyBlue);
  margin-left:0.2em;
}
#btn-cancelar{
  color: var(--main-white);
  background-color: var(--main-SkyBlue);
  margin-left:0.2em;
}