
<div class="loginForm">
<form [formGroup]="form"  (ngSubmit)="onEnviar($event)">     <div>
    <label for="usuario" class="form-label">Usuario: </label>
    <input type="username" formControlName="username" [class.border-danger]="UsernameValid">
    </div>
    
    <div *ngIf="Username?.errors  && Username?.touched">
    <p *ngIf="Username?.hasError('required')" class="error">
    El usuario es requerido.
    </p>
    <p *ngIf="Username?.errors?.['minlength']
    " class="error">
    El usuario debe tener mas de 5 caracteres.
    </p>
    <p *ngIf="Username?.errors?.['maxlength']
    " class="error">
    El usuario debe tener menos de 12 caracteres.
    </p>
    </div>
    <br/>
       
        <div>
            <label for="exampleInputPassword1" class="form-label">Password: </label>
            <input type="password" formControlName="password" [class.border-danger]="PasswordValid">
        </div>
      
        <div *ngIf="Password?.errors  && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error">
          El password es requerido.
        </p>
        <p *ngIf="Password?.errors?.['minlength']
    " class="error">}
          El password debe ser de 8 o más caracteres.
        </p>
      </div>
        <br/>
        <div>
            <button   type="submit">Iniciar Sesión</button> 
            
            <button id="cancel"><a routerLink="./acerca_de" href="#acerca_de" id="cancel">Cancelar</a></button>
        </div>
    </form>
    
    <div>
        {{form.value.username}}{{form.value.password}}
    <br>
    
    </div>
  </div>