#navbar {
  display: flex;
  
  justify-content: right;
  font-style: italic;
}

.fotoPerfil{
  position: fixed;
  max-height: 15%;
  max-width: 6%;
  min-width: 3%;
  border-radius: 50%;
  left: 0;
  margin-left: 1em;
  margin-top:3em;
  margin-bottom: auto;
  margin-right: auto;
}
.logoAP {
  max-width: 10%;
}
.logo {
  align-self: flex-start;
}
.nav-Redes {
  font-size: 1.1rem;
  font-style: italic;
  color: var(--main-white);
  transform: translateY(8px);
  transform: translateX(2px);
  text-shadow: 2px 2px 1px #161515;
transition: transform 0.3s ease-out;
margin-right: 1em;
}

.btn {
  color: var(--main-white);
  background-color: var(--main-SkyBlue);
  border-color: var(--main-white);
}

.nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  top: 0;
  left: 25;
  width: 100%;
  background: var(--main-SkyBlue);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
  }

.nav-list {
display: flex;
margin-right: 2rem;
align-items: right;
}



.nav-list {
  margin: 0 1rem;
}


.nav-list a {
display: block;
font-size: 1.1rem;
padding: 1rem;
}

  a:link {
    color: var(--main-white);
  }
  a:visited {
    color: var(--main-white);
  }

  a:hover {
    color: var(--main-gray);
  }
  
  a:active {
    color: var(--main-gray);
  }