<nav id="navbar" class="nav">
    <ul class="nav-list">
      <li class="logo"><img class="logoAP" src="assets/img/APLogo.png" alt="argpprod" ></li>
      <li>
        <a routerLink="./acerca_de" href="#acerca_de">Acerca de...</a>
      </li>
      <li>
        <a routerLink="./experiencia" href="#experiencia">Experiencia</a>
      </li>
      <li>
        <a routerLink="./educación" href="#educación">Educación</a>
      </li>
      <li>
        <a routerLink="./skills" href="#skills">Skills</a>
      </li>
      <li>
        <a routerLink="./proyectos" href="#proyectos">Proyectos</a>
      </li>
    <li><button class="btn" routerLink="./login">Login</button></li>
    </ul>
    <ul>
    <li class="foto"><img class="fotoPerfil" src="assets/img/fotoPerfil.jpg" alt="foto de perfil" ></li>
  </ul>
    <ul class="nav-Redes">
     
      <li><a
      href="https://www.facebook.com/eze132"
      target="_blank"
      class="nav-Redes"
      ><i class="fab fa-facebook-square"></i></a >
      </li>
      <li>
        <a
      id="profile-link"
      href="https://github.com/EzequielBarraza"
      target="_blank"
      class="nav-Redes"
      ><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a
        href="https://twitter.com/@Ezequie91072685"
        target="_blank"
        class="nav-Redes"
        ><i class="fab fa-twitter"></i></a
      >
      </li>
      <li>
        <a href="mailto:ezequielBarraza@live.com" class="nav-Redes"
        ><i class="fas fa-at"></i></a
      >
      </li>
    </ul>

  
  </nav>
 
  
 
  