<section id="acerca_de" class="acerca_de">
    
    <h1>{{title}}</h1>
    <app-acerca-de-item
    *ngFor="let acercaDe of acercaDe"
    [acercaDe]="acercaDe"
    (onDeleteAcercaDe)="deleteAcercaDe(acercaDe)"
    ></app-acerca-de-item>
    <app-button  
    color="{{showAddAcercaDe ? 'var(--main-red' : 'var(--main-SkyBlue)'}}" 
    text="{{showAddAcercaDe ? 'Cerrar' : 'Añadir Texto'}}"
text="Añadir Texto"
(btnClick)="toggleAddAcercaDe()"
></app-button>
<app-add-acerca-de
(onAddAcercaDe) = "addAcercaDe($event)"></app-add-acerca-de>
</section>
  
  

