 p {
    margin-bottom: 0em;
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-SkyBlue);
}

p span{
 
  color: var(--main-white);
  }
p span:hover{
 
color: var(--main-gray);
}